@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    /* background-image: linear-gradient(to right, #BDC3C7, #2C3E50);  */
    background-image: linear-gradient(to right, #9cc8d8, #3c7391); 
    /* background-color: #3C486B; */
}

hr {
    border-style: solid none none;
    border-color: #EEEEEE;
    border-width: 3px;
    border-radius: 5px;
}

.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;
    justify-content: space-between;
    /* padding: 35px 5%; */
} 
.navbar li{
    list-style: none;
    margin: 0 12px;
    font-weight: bold;
    font-size: 20px;
    padding: 2px;
}
.navbar li:hover{
    background-color: #F0EEED;/* #569DAA; */
    /* padding: 2px; */
    border-radius: 5px;
    /* color: #FFD93D; */
    border-style: none;
    cursor: pointer;
}

.topleft{
    width: 50%;
}

.topright{ 
    width: 50%;
}

.section1{
   max-height: 100vh; 
   color: #13005A;
}

.section1 h1{
    color: #13005A;
    font-size: 2rem;
}

.logo{
    font-size: 2rem;
}

.dumbellimg{
    width: 289px;
    background-color: none;
}

.topright .gymimg{
    width: 466px;
}

.section2{
    padding: 73px;
}

.section2 h1{
    font-size: 2.3rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(120, 54, 16);
    border-radius: 8px;
    text-align: center;
    background-color: #F9FFA4;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #B9EDDD;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}

footer{
    padding: 23px;
    text-align: center;
    font-weight: bold;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}

.btn1 {
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(227 74 56);
}

#demo {
    color: #FDFF00;
    /* color: #FFD93D; */
}